<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="your.package.name" level="DEBUG" /> <!-- Замените на ваш пакет -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />

    <root level="DEBUG"> <!-- Установите уровень на DEBUG для корневого логгера -->
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>